/* Global CSS */

:root   {
    --headings: #222;
    --descriptions: #787d81;
    --green: #32b64c;
    --dark-green: #3a8e52;
    --grey: #e3e4e6;
    --dark-grey: #474E52;
}

*   {
    box-sizing: border-box;
}

body    {
    font-family: Lato, sans-serif;
    font-size: 100%;
}

h1, h2, h3, h4  {
    color: var(--headings);
    margin: 0;
}

p   {
    color: var(--descriptions);
    margin: 0;
    font-size: .6rem;
}

li  {
    font-size: .6rem;
}

a   {
    text-decoration: none;
    color: currentColor;
}
/*header */

header  {
    background-color: var(--green);
    display: flex;
    align-items: center;
}

picture {
    width: 8vw;
    display: block;
    margin-left: 10px;
}

img[alt=Logo]   {
    width: 100%;
    height: auto;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    color: white;
}

nav ul  {
    display: flex;
    list-style-type: none;
    padding-inline-start: 1.25rem;
    margin: 10px 0;
}

nav ul li   {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

nav ul li span  {
    border: 2px solid white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary h4  {
    margin: 10px 0;
}

.summary p  {
    margin: 5px 0;
}

/* available homes */

.homes  {
    background-color: var(--grey);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home   {
    width: 33%;
    margin-bottom: 5px;
}

.home::before    {
    content: '';
    background-size: cover;
    background-position: center;
    height: 10vw;
    border-radius: 5px 5px 0 0;
    display: block;
}

@media (max-width: 500px)   {
    .homes  {
        flex-direction: column;
        align-items: center;
    }

    .home   {
        width: 90%;
    }

    .home::before    {
        height: 30vw;
    }
}

.home:first-of-type::before {
    background-image: url(../images/house-1.jpg);
}

.home:nth-of-type(2)::before {
    background-image: url(../images/house-2.jpg);
}

.home:nth-of-type(3)::before {
    background-image: url(../images/house-3.jpg);
}

.home:nth-of-type(4)::before {
    background-image: url(../images/house-4.jpg);
}

.home:nth-of-type(5)::before {
    background-image: url(../images/house-5.jpg);
}

.home:nth-of-type(6)::before {
    background-image: url(../images/house-6.jpg);
}

.home:nth-of-type(7)::before {
    background-image: url(../images/house-7.jpg);
}

.home:nth-of-type(8)::before {
    background-image: url(../images/house-8.jpg);
}

.home:nth-of-type(9)::before {
    background-image: url(../images/house-09.jpg);
}

.home:nth-of-type(10)::before {
    background-image: url(../images/house-10.jpg);
}

.home:nth-of-type(11)::before {
    background-image: url(../images/house-11.jpg);
}

.home:last-of-type::before {
    background-image: url(../images/house-12.jpg);
}

.details    {
    background-color: white;
    margin: 0;
    border-radius: 0 0 5px 5px;
    padding: 5px;
}

.details ul  {
    margin: 2px;
    padding-inline-start: 0;
    display: flex;
}

.details li   {
    display: flex;
    padding-right: 10px;
    align-items: center;
}

.details li p   {
    padding-left: 3px;
    color: var(--headings);
}

/* I don't think there's a way to style this? */
.bed::before    {
    content: url(../images/bed-icon.png);
    height: 10px;
}

.details img    {
    height: 10px;
}

.details p {
    margin: 2px;
}

/* breadcrumbs and footer */

.breadcrumbs    {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.breadcrumbs ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 10px 0;
}

.breadcrumbs a {
    color: var(--dark-green);
    padding: 0 10px;
    margin: 10px 0;
}

.breadcrumbs p {
    margin: 10px 0;
}

footer h2  {
    margin-bottom: 20px;
}

footer p {
    margin-left: 2rem;
}

.foot {
    background-color: var(--dark-grey);
    margin-top: 50px;
}

.foot ul    {
    display: flex;
    margin: 0;
    padding: 10px 30px;
}

.foot ul li     {
    color: var(--descriptions);
    font-size: 11px;
    list-style-type: none;
    padding-right: 15px;
}

.foot p {
    margin-left: 20px;
}

/* Modal */

.overlay    {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}

.modal  {
    position: absolute;
    top: 30vh;
    left: 100vw;
    width: 50vw;
    height: 40vh;
    background-color: var(--grey);
    border: 3px solid var(--green);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.modal p {
    font-size: 1.5em;
    text-align: center;
}

.modal button {
    background-color: var(--green);
    color: var(--grey);
    border: none;
    width: 50%;
    display: block;
    padding: 10px 0;
}

.lottery .overlay    {
    left: 0;
}

.lottery .modal {
    left: 25vw;
}

@media (max-width: 700px)   {
    .lottery .modal  {
        width: 80vw;
        height: 50vh;
        left: 10vw;
        top: 25vh;
    }
    .modal .button {
        width: 70%;
    }
}