body {
  background-color: #ffeeee;
  border: solid 2px black;
  padding: 20px; 
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
li{
  margin-left: 80px;
  font-family: helvetica, sans-serif;
  line-height: 24px;
}
a {
  color: #900000;
  background-color: yellowgreen;
  padding: 10px;
  border-radius: 10px;
  max-width: 40px;#
  margin-top: 20px;
}
h2 {
  color: #888070;
  font-family: Helvetica, sans-serif;
  }
p{
  font-family: Helvetica, sans-serif;
}
img {
  border: solid 5px black;
  border-radius: 20px;
  position: relative;
}
