body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    font-family: Oswald, Roboto, sans-serif;
}

img {
    display: block;
    height: 100px;
}

.background-img {
    height: 100%;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1503428593586-e225b39bddfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

ul {
    list-style-type: none;
    columns: 7;
    text-align: center;
    line-height: 1.6;
}

.contents {
    color: white;
}

