* {
    box-sizing: border-box;
  }
  
  img {
    width: 100px;
  }
  
  @media (min-width: 545px) {
  
    li {
      display: flex; 
      flex-direction: row;
      
    }
  }
  
  @media (min-width: 768px) {
    
    li {
      display: flex; 
      flex-direction: row;
    
  }