* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Nunito', Arial, sans-serif;
  background-color: #efefef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.logo {
  width: 70px;
  height: 20px;
}

.login {
  display: flex;
  /* just by changing this from center to space-between,
  it looks much more like the original design */
  justify-content: space-between;
  /* give it some height and a background colour too */
  height: 3em;
  background-color: #ffffff;
  align-items: center;
}

/* added some styling to the links */
.login a {
  color: black;
  padding: 0.5rem;
  margin: 0 0.5rem;
}

.login a:hover {
  text-decoration: underline;
}

.background {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg');
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 715px;
  background-size: cover;
}
.mel {
  color: white;
  font-size: 60px;
}
.p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  text-decoration: none;
  width: 240px;
  height: 50px;
  border: 1px solid #ff5358;
  border-radius: 5px;
  background-color: #ff5358;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.button:hover {
  background-color: #e00007;
}
/*
  in the next few sections,
  I've used "sections.local " at the start of the CSS selector
  this will ensure the blocks only applies to that section
*/

/* switched table for article */
section.locals article {
  margin-top: 5%;
  border: 1px solid lightgrey;
  /* added flex settings to replace the way the tables looked */
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

/* replaced the td, th settings with this
  there is no need for the h2 to be flex
  and no need for border-collapse now
*/
section.locals div {
  display: flex;
  background-color: white;
  height: 100%;
  align-items: center;
}
section.locals {
  display: grid;
  /* I replaced 50% 50% with 1fr 1fr so that
  the total width doesn't go more than 100% of the screen width */
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  /* just a bit of space around the sides of .locals */
  padding: 0 2em;
}

.Fitzroy {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg ');
  background-repeat: no-repeat;
  width: 80%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.St-Kilda {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg ');
  background-repeat: no-repeat;
  width: 80%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.CBD {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg');
  background-repeat: no-repeat;
  width: 80%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.h2-p {
  text-align: center;
}
.footer {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  column-gap: -3em;
  padding-left: 5em;
  height: 20em;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  text-decoration: none;
  width: 240px;
  height: 50px;
  border: 1px solid #ff5358;
  border-radius: 5px;
  background-color: #ff5358;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.Button:hover {
  background-color: #e00007;
}
.background2 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1%;
}
a {
  color: white;
  text-decoration: none;
}

/* Colors */
/* Redish / Pink: #ff5358 */
/* Dark red for button hover: #e00007 */
/* Very light gray: #efefef */

/* Background image links */
/* Hero: https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg */
/* Fitzroy: https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg */
/* St. Kilda: https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg  */
/* CBD: https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg */
