*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: 'Oswald ', 'sans-serif';
  background-color: #fff;
  color: #444;
}

h1, p , {
  margin: 0 0 1em 0;
}

.title {
  padding-left: 10%;
}

.wrapper {
  max-width: 940px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}

@media screen and (min-width: 600px) {

  /* no grid support? */
  .block-a, .block-b, .block-c {
    float: left;
    width: 19.1489%;
  }

  .content {
    float: right;
    width: 79.7872%;
  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(150px, auto);
  }
  
  .header, .footer {
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both;
  }
  
  .block-a {
    grid-column: 1;
    grid-row: 2;
  }
  
  
  
  .content {
    grid-column: 2;
    grid-row: 2 / 7;
  }

}

.wrapper > * {
  background-color: */ #444;*/
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}


    /* gear logo*/

    .container {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      
      .machine {
        width: 80vmin;
        fill: #ee1b24; }
      
      .small-shadow, .medium-shadow, .large-shadow {
        fill: rgba(0, 0, 0, 0.05); }
      
      .small {
        -webkit-animation: counter-rotation 2.5s infinite linear;
             -moz-animation: counter-rotation 2.5s infinite linear;
               -o-animation: counter-rotation 2.5s infinite linear;
                  animation: counter-rotation 2.5s infinite linear;
        -webkit-transform-origin: 100.136px 225.345px;
            -ms-transform-origin: 100.136px 225.345px;
                transform-origin: 100.136px 225.345px; }
      
      .small-shadow {
        -webkit-animation: counter-rotation 2.5s infinite linear;
             -moz-animation: counter-rotation 2.5s infinite linear;
               -o-animation: counter-rotation 2.5s infinite linear;
                  animation: counter-rotation 2.5s infinite linear;
        -webkit-transform-origin: 110.136px 235.345px;
            -ms-transform-origin: 110.136px 235.345px;
                transform-origin: 110.136px 235.345px; }
      
      .medium {
        -webkit-animation: rotation 3.75s infinite linear;
             -moz-animation: rotation 3.75s infinite linear;
               -o-animation: rotation 3.75s infinite linear;
                  animation: rotation 3.75s infinite linear;
        -webkit-transform-origin: 254.675px 379.447px;
            -ms-transform-origin: 254.675px 379.447px;
                transform-origin: 254.675px 379.447px; }
      
      .medium-shadow {
        -webkit-animation: rotation 3.75s infinite linear;
             -moz-animation: rotation 3.75s infinite linear;
               -o-animation: rotation 3.75s infinite linear;
                  animation: rotation 3.75s infinite linear;
        -webkit-transform-origin: 264.675px 389.447px;
            -ms-transform-origin: 264.675px 389.447px;
                transform-origin: 264.675px 389.447px; }
      
      .large {
        -webkit-animation: counter-rotation 5s infinite linear;
           -moz-animation: counter-rotation 5s infinite linear;
               -o-animation: counter-rotation 5s infinite linear;
                  animation: counter-rotation 5s infinite linear;
        -webkit-transform-origin: 461.37px 173.694px;
            -ms-transform-origin: 461.37px 173.694px;
                transform-origin: 461.37px 173.694px; }
      
      .large-shadow {  
        -webkit-animation: counter-rotation 5s infinite linear;
             -moz-animation: counter-rotation 5s infinite linear;
               -o-animation: counter-rotation 5s infinite linear;
                  animation: counter-rotation 5s infinite linear;
        -webkit-transform-origin: 471.37px 183.694px;
            -ms-transform-origin: 471.37px 183.694px;
                transform-origin: 471.37px 183.694px; }
      
      @-webkit-keyframes rotation {
          from {-webkit-transform: rotate(0deg);}
          to   {-webkit-transform: rotate(359deg);}
      }
      @-moz-keyframes rotation {
          from {-moz-transform: rotate(0deg);}
          to   {-moz-transform: rotate(359deg);}
      }
      @-o-keyframes rotation {
          from {-o-transform: rotate(0deg);}
          to   {-o-transform: rotate(359deg);}
      }
      @keyframes rotation {
          from {transform: rotate(0deg);}
          to   {transform: rotate(359deg);}
      }
      
      @-webkit-keyframes counter-rotation {
          from {-webkit-transform: rotate(359deg);}
          to   {-webkit-transform: rotate(0deg);}
      }
      @-moz-keyframes counter-rotation {
          from {-moz-transform: rotate(359deg);}
          to   {-moz-transform: rotate(0deg);}
      }
      @-o-keyframes counter-rotation {
          from {-o-transform: rotate(359deg);}
          to   {-o-transform: rotate(0deg);}
      }
      @keyframes counter-rotation {
          from {transform: rotate(359deg);}
          to   {transform: rotate(0deg);}
      }

      /*============lists===================*/
      

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    
    li {
      display: inline;
      padding: 4px 8px;
      margin: 0 10px 10px 0;
      background-color: #db3832;
      border-radius: 10px;
      white-space: nowrap;
      line-height: 2;
      color: #fff;
    }
    
    span {
      color: #444;
    }
    
    



    

    h1, h2 {
      font-family: 'Oswald';
  }

  a {
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: white;
    color: red;
    font-weight: bold;
  }
  a:hover {
    background-color: red;
    color: white;
  }

  span {
    color: black;
    font-size: 1rem;
}

a:hover {
  background-color: yellow;
}



.gold-box {
  width: 29%;
  
  background-image: url("https://res.cloudinary.com/dr5iclm3d/image/upload/v1548206606/logo.png"), url("../../media/examples/star.png");
  display: block;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0.5;
}