* {
  box-sizing: border-box;
  margin: 0;
}
header {
  position: relative;
  width: 100%;
  height: 400px;
}

.nav-container nav h1 {
  font-family: Verdana;
  color: chocolate;
  font-size: 2em;
}
a {
  text-decoration: none;
  outline: none;
}
.basket {
  color: white;
  border: none;
  background: none;
  font-size: 2em;
  outline: none;
  cursor: pointer;
}
.search-bar {
  width: 100%;
  outline: none;
  border: none;
  height: 30px;
}
.search-btn {
  outline: none;
  cursor: pointer;
  height: 30px;
  border: none;
  font-size: 20px;
}
form {
  display: flex;
  width: 50%;
}

video {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.nav-container > nav {
  height: 30px;
  display: flex;
  justify-content: space-evenly;
}
.nav-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
ul {
  list-style-type: none;
}
.types {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
section {
  height: 100%;
}
svg {
  font-size: 5em;
  cursor: pointer;
}

.slider {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
#slide {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide-img > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: brown;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 10px 0.5rem 0;
  font-family: Segoe UI;
  color: white;
  font-size: 1.1em;
}
.slide-img {
  display: flex;
  justify-content: center;
}
#slide > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 150px;
  height: 200px;
  margin-right: 50px;
  border-radius: 5px;
  transform: scale(1);
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.slide-img > a:focus {
  background: plum;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
  background-color: darkgrey;
}
footer p {
  font-size: 0.7em;
  color: black;
}
footer a {
  color: brown;
  font-family: verdana;
}
.new {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #048c17;
  color: white;
  width: 50px;
  height: 20px;
}
.recommended {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  color: white;
  width: 120px;
  height: 20px;
}
.pre-order {
  position: absolute;
  top: 0;
  left: 0;
  background-color: purple;
  color: white;
  width: 80px;
}
span {
  border-radius: 2px;
  font-family: Verdana;
  opacity: 0.8;
}
#consent-popup {
  position: fixed;
  bottom: -100%;
  transition: 2s ease;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: lightgreen;
}

#consent-popup.active {
  bottom: 0;
  transition: 2s ease;
}
