* {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: chocolate;
}
a {
  text-decoration: none;
  outline: none;
}
header {
  width: 100%;
}

h1 {
  font-family: Verdana;
  color: #d2e1c6;
  font-size: 2em;
  text-shadow: 2px 2px 2px black;
}
.basket {
  color: #d2e1c6;
  text-shadow: 2px 2px 2px black;
  border: none;
  background: none;
  font-size: 1em;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
}
.nav-image {
  height: 360px;
}
.nav-image > img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.search-bar {
  background-color: #d2e1c6;

  width: 100%;
  outline: none;
  border: none;
  height: 30px;
}
.search-btn {
  outline: none;
  cursor: pointer;
  height: 30px;
  border: none;
  font-size: 20px;
  background-color: #d2e1c6;
}
form {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
  box-shadow: 2px 2px 10px black;
}
.nav-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.nav-container > nav {
  height: 30px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  padding: 0;
}
.nintendo {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  column-gap: 5em;
  row-gap: 5em;
}

.nintendo > * {
  flex: 450px;
}
.div-flex {
  background-color: #fbbf77;
  font-family: monospace;
  font-size: 1.3rem;
}

.div-flex > ul {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
  text-align-last: center;
  gap: 1em;
}
.div-flex > ul > * {
  flex: 250px;

  background-color: #faa962;
}
.div-flex > ul > li > p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.div-flex > ul > li > button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #de6f18;
  color: white;
  border: 1px solid black;
  font-family: Verdana;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}
.desc {
  padding-top: 1rem;
}
img {
  width: 299px;
  height: 350px;
}
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
  background-color: darkgrey;
}
footer p {
  font-size: 0.7em;
  color: black;
}
footer a {
  color: brown;
  font-family: verdana;
}
#consent-popup {
  position: fixed;
  bottom: -100%;
  transition: 2s ease;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: lightgreen;
}

#consent-popup.active {
  bottom: 0;
  transition: 2s ease;
}
