* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(235, 239, 236);
  color: rgb(89, 92, 96);
  padding: 30px;
}
.san-fr {
  background-image: url(san-francisco.jpg);
}
.ny {
  background-image: url(new-york.jpg);
}
.ldn {
  background-image: url(london.jpg);
}
.np {
  background-image: url(napa.jpg);
}
.sm {
  background-image: url(sonoma.jpg);
}
.san-fr2 {
  background-image: url(san-francisco-2.jpg);
}
nav {
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* instead of 
having two classes called
flex and flex1, you can use
the same class for multiple elements */
/* .flex1, */
.flex {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

/* I've made all the h1 into h2 */
h2,
p {
  text-align: center;
}
/* to make the h2 look big enough,
we can set the font-size manually */
h2 {
  font-size: 32px;
}

/*
naming two classes very similarly except
for the case of some letters would be confusing
*/
.button,
.Button {
  border: 1px solid black;
  text-align: center;
  width: 380px;
  margin: 45px auto;
  background-color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 25px;
}
a {
  text-decoration: none;
  /*  you can set the color at a high-level and **inherit** it in the a */
  /* this is a good way to style links, so long as they're still obviously links */
  color: inherit;
}
/*
although classes with like this are valid
(we call it camelCase because it looks like a camel)
devs prefer to make them with hyphens between words,
and with lower-case letters only (we call it kebab-case)
*/
.sanFr,
.sanFr2,
.Ny,
.Ldn,
.Np,
.Sm {
  color: white;
  font-size: 24px;
  font-weight: 700;
}
/*
  I removed this section since we set the color above now 

.button1,
.button2 {
  color: rgb(89, 92, 96);
}
*/
