* {
    box-sizing: border-box; 
   }
   
   body {
       background-color: pink;
       background-size: cover;
       font-family:'Montserrat', sans-serif;
       font-weight: 500px;
       color: white;
       text-align: left;
   }

   .hamburger {
    background:none;
    border:0;
    opacity: 0.7;
    transition:0.3s;
  }
  .hamburger:hover {
    opacity:1;
    color: white;
  }
  .hamburger:focus {
    outline:0;
  }
  .hamburger svg {
    fill: white;
  }
  .site-nav-burger {
    position: absolute;
    top:0;
    left:0;
  
    width:400px;
    height: 100vh;
    padding:8em 2em;
    background: pink;
    transition:transform 0.3s ease-out;
    transform: translate(-100%);
  }
  .site-nav-burger.is-active {
    transform: translate(0%);
  }
  .site-nav-burger-menu {
    margin:0;
    padding:0;
    list-style: none;
  }
  .site-nav-burger li {
    margin-bottom:1em;
    padding:0.5em;
    text-align: left;
  }
  .site-nav-burger a {
    display: inline-block;
    padding:0.25em;
    color: white;
    font-size:1.25em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.3s;
  }
  .site-nav-burger a:hover {
    background: white;
    color: pink;
    transform: scale(1.3) rotatex(-1deg);
    text-decoration: underline;
  }
  .site-nav-icon {
    position: absolute;
    top:1.5rem;
    left:1.5rem;
  
    font-size:2em;
    color:#fff;
    opacity: 0.7;
    background:none;
    border:0;
    cursor: pointer;
    transition: 0.3s;
  }
  .site-nav-icon:hover {
    opacity: 1;
  }
  .site-nav-icon:focus {
    outline:0;
  }





  .site-header {
    display: flex;
    justify-content: space-between;
	  align-items: center;
    
    padding: 1rem;
	  color: white;
    background-color: pink;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

}

.site-nav {
  width: 33%;
}

@media screen and(max-width 360px){
  .site-nav {
      text: red;
  }
}

.logo {
    height: 45px;
    width: 190px;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 34%;
}

.empty-div {
  width: 33%;
  padding-right:10px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.icons {
  font-size: 2em;

}


.site-nav a {
	margin:0 1em;
	color:inherit;
  font-size:1rem;
}



.site-nav a:hover {
	  background: white;
    color: pink;
    transform: scale(1.3) rotatex(-1deg);
    

    padding:0.25em;
    color: pink;
    font-size:1.25em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.3s;
    text-decoration: underline;
}

a {
  Color: white;
  text-decoration: none;
  }

   
   h2 {
     text-align: center;
     padding-top: 100px;
     
   }
   
   form {
     width:35rem;
     margin:50px auto;
     padding:1.25rem;
     background: pink;
     box-shadow:0 0 70px white(0, 0, 0, 0.2);
    
   }

   .form-field {
     margin-bottom:30px;
   }
   label {
     display:inline-block;
     width:150px;
     padding-top:2px;
     font-size:16px;
     text-transform:uppercase;
     letter-spacing:2px;
     vertical-align:top;
   }
   
   input,
   select,
   textarea {
     width:320px;
     border:1px solid white;
     border-radius:3px;
     transition:all 0.3s ease;
   }
   input:focus,
   select:focus,
   textarea:focus {
     border-color: white;
     background-color: pink;
     outline: white;
   }
   textarea {
     height: 2rem;
   }
   input[type="checkbox"],
   input[type="submit"] {
     width:auto;
     margin-left:160px;
   }
   input[type="checkbox"] + label {
     width:auto;
     text-transform:none;
     letter-spacing:0;
   }
   
   .button {
     background-color: white;
     color:pink;
     font-size:20px;
     padding:15px 30px;
     transition:0.5s;
     position: 10px;
   }
   .button:hover {
     background-color:pink;
     color:white;
   }
   
   .validation-message, .no-email {
     position: relative;
     display: block;
     opacity: 0;
     padding: 0 1rem;
     border: glow;
     background: red;
     border-radius: 0.5rem;
     max-height: 0rem;
     transform: scaleY(0);
     transform-origin: 0 0;
     transition: all 0.5s linear;
   }
   
   form:invalid .validation-message,
   .no-email
   {
     opacity: 1;
     max-height: 5rem;
     padding: 1rem;
     transform: unset;
   }
   
   .no-email.show{
    display: block; 
  }

   .no-email {
       display: none;
   }


   .site-footer {
    margin-top:3rem;
    padding:0.5rem 2rem;
    color: white;
    background-color: pink;
   
   
    
}
.footer-nav ul {
	padding:0;
    list-style: none;
    display: flex;
    justify-content: flex-end;

    
}
@media (min-width:800px) {
	.footer-nav ul {
		display: flex;
		flex-wrap:wrap;
	}
}
.footer-nav li {
	margin:0 1em 1em 0;
}

.footer-nav a {
	color:inherit;
	opacity:0.7;
}
.footer-nav a:hover {
  
  background: white;
    color: pink;
    transform: scale(1.3) rotatex(-1deg);
    

    padding:0.25em;
    color: pink;
    font-size:1.25em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.3s;
    text-decoration: underline;
}
.site-footer small {
	font-size:0.75em;
}
