/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Libre Franklin', sans-serif;
*/

/*COLLECTIONS*/
* {
	box-sizing:border-box;
}
body {
    background-color: rgb(25, 23, 23);
    font-family: 'Lato', sans-serif;
    color: rgb(170, 166, 166);
}
main {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
header {
    margin: 10px;
}
.logo {
    width: 25%;
    margin: 10px 10px 10px 20px;
}
.logo:hover {
    background: rgba(255,255,255,0.1);
	-o-transition: -o-transform ease-out 0.1s, background 0.2s;
	-ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
	display: inline-block;
	position: relative;
	z-index: 1;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    transform: scale(.9);
}
.nav {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 100%;
}
.nav picture {
    width: 50%;
}
.nav ul {
    display: inline-flex;
    justify-content: flex-end;
    font-weight: medium;
    color: lightblue;
    width: 50%;
}
.nav ul li {
    padding: 10px;
    margin: 10px;
    white-space: nowrap;
    list-style: none;
    text-align: center;
    transition: 0.1s ease-in-out;
}
.nav ul li:hover {
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
a {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: large;
}
.main header {
    padding: 10px;
    margin: 40px 40px 70px 40px;
}
h1 {
    text-align: center;
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
}
.list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}
.list ul li {
    list-style: none;
    flex-grow: 1;
    width: 25%;
}
.product-container {
    border: 2px solid;
    margin: auto;
    width: 90%;
    text-align: center;
}
picture img {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.product-info {
    text-align: left;
}
.product-info li {
    list-style: none;
}
footer {
    text-align: center;
}
.main-footer p {
    font-style: italic;
    margin: 100px 400px 50px;
}
.logo-footer {
    margin: auto;
    width: 13%;
}
.mid-footer ul {
    display: inline-flex;
    font-weight: medium;
    color: lightblue;
}
.mid-footer ul li {
    padding: 10px;
    margin: 10px;
    white-space: nowrap;
    list-style: none;
    text-align: center;
    transition: 0.1s ease-in-out;
}
.mid-footer ul li:hover {
    border-bottom: 4px solid;
    border-color: rgba(255,255,255,0.1);
    color: white;
    font-weight: bold;
    font-size: x-large;
}

/*OUR STORY*/

