@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Chivo", sans-serif;
}
li {
  list-style: none;
}
h2 {
  font-size: 2vw;
}
.title {
  display: flex;
  justify-content: center;
}

p {
  font-size: 28px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

picture img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-image: url(images/aboutme/aboutm2.PNG);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 40px #333;
}
.aboutme {
  background-color: rgb(170, 170, 170);
  border-bottom-right-radius: 300px;
}
.aboutme h1 {
  font-size: 200px;
}

.aboutme p {
  padding: 120px;
}
.hello-intro {
  display: flex;
}
.experience a {
  font-size: 1.5vw;
}

/* site navigation */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
  padding: 0.5rem;
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 10px;
}

.user-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.user-nav li {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  font-weight: bold;
  position: sticky;
}

.experience {
  margin: 50px;
}

.experience h2 {
  display: flex;
  justify-content: center;
}

/*  drawing section */
.drawings {
  background-color: rgb(170, 170, 170);
  box-shadow: 0 0 10px #333;
  padding: 5px;
  padding-top: 30px;
  margin-top: 10vh;
}

.drawings ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.drawings li {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.photography ul,
.drawings ul {
  display: flex;
}

button a {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  photography section */
.photography {
  margin-top: 10vh;
}
.photography ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.photography li {
  display: flex;
  flex-direction: row;
  margin: 1em;
  padding: 1em;
}

/*  favourite movies/tv series */
.movies {
  padding: 100px;
  margin-top: 10vh;
  background-color: rgba(134, 144, 152, 0.7);
}
.movies ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.movies li {
  display: flex;
  flex-direction: row;
  margin: 5em;
}

/*  favourite artists */
.artists {
  padding: 100px;
  margin-top: 10vh;
}
.artists ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.artists li {
  display: flex;
  flex-direction: row;
  margin: 5em;
}

/*  IMAGE SIZING (company, drawing, photography and movies */
img.company {
  height: 100px;
  width: auto;
}

.drawings img {
  box-shadow: 0 0 40px #333;
}

.photography img {
  width: 100%;
  height: auto;
}

.movies img {
  height: auto;
  max-width: 60em;
}

.site-footer {
  background-color: rgba(134, 144, 152, 0.7);
  color: white;
  padding: 50px;
  display: flex;
}

.site-footer ul {
  display: flex;
}
.site-footer li {
  margin: 30px;
}

/* responsive drawings, photography and movie images */
@media (min-width: 700px) {
  .drawings img {
    width: 30vw;
    margin: 0;
    padding: 0;
    height: auto;
  }

  .photography img {
    width: 30vw;
    height: auto;
  }

  .movies img {
    height: auto;
    width: 50vw;
    padding: 0;
    margin: 0;
  }
}

/*  min-width: 1200px - responsive drawings, photography and movie images */
@media (min-width: 1200px) {
  .drawings img {
    width: 30vw;
    height: auto;
  }
  .photography img {
    width: 30vw;
    height: auto;
  }
  .movies img {
    height: auto;
    width: 90vw;
  }
}

/* site header and nav */

@media (min-width: 800px) {
  .site-header a {
    display: block;
  }
  .site-nav-icon {
    display: none;
  }
}

@media (min-width: 800px) {
  .site-header a {
    display: block;
  }
}
